[workspace]
members = [".", "tools/factory-data-architect/src-tauri"]
resolver = "2"

# 開発用ビルド設定 (cargo run)
[profile.dev]
opt-level = 1 # 自分のコードは少しだけ最適化

# 依存関係（Bevyなど）はガチガチに最適化する
# これにより、初回ビルドは遅いが、2回目以降は再ビルドが走らず高速になる
[profile.dev.package."*"]
opt-level = 3

[package]
name = "infinite_voxel_factory"
version = "0.1.0"
edition = "2021"

[dependencies]
# "serialize" を追加！これで KeyCode が読み込めるようになります
bevy = { version = "0.15", features = ["dynamic_linking", "serialize"] }
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
serde_json = "1.0"
chrono = { version = "0.4", features = ["serde"] }
dot_vox = "5.1"
mlua = { version = "0.10", features = ["lua54", "vendored", "send", "serialize"] }
