(
    entries: {
        "undefined.stone": (
            name: "",
            description: "",
        ),
        "item.stone": (
            name: "",
            description: "",
        ),
        "item.new_item": (
            name: "",
            description: "",
        ),
        "item.wood": (
            name: "",
            description: "",
        ),
        "undefined.sss": (
            name: "",
            description: "",
        ),
    },
)