(
    entries: {
        "item.stone": (
            name: "",
            description: "",
        ),
        "undefined.stone": (
            name: "",
            description: "",
        ),
    },
)